@inherits Umbraco.Community.SimpleWorkspaceViews.Web.WorkspaceViewViewPage

<uui-box headline="@Model.WorkspaceView.Name">
    <ul>
        <li>Key: @Model.Key</li>
        <li>EntityType: @Model.EntityType</li>
    </ul>
</uui-box>
