<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dc2e7ab-75d6-4682-a43a-8106d55601b7" Alias="Test Content" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TestContent</Path>
    <Trashed Parent="8d0550d6-321b-4638-bb42-a241c601929a">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-12-31T00:23:24</CreateDate>
    <NodeName Default="Test Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0126bbd3-d959-4ef1-afc4-ad0293d5f79e">contentPage</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>