<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9e6c312-67ec-44a2-9ed8-50c35dc4b491" Alias="Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-12-31T00:12:23</CreateDate>
    <NodeName Default="Test">
      <Name Culture="en-GB">Test</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-GB">false</Published>
    </Published>
    <Schedule />
    <Template Key="90db0a7e-bfee-4808-ac56-4c6794c33559">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value Culture="en-GB"><![CDATA[]]></Value>
    </gridContent>
  </Properties>
</Content>