@inherits Umbraco.Community.SimpleWorkspaceViews.Web.WorkspaceViewViewPage

<uui-box headline="@Model.WorkspaceView.Name">
    <ul>
        <li>Alias: @Model.WorkspaceView.Alias</li>
        <li>Name: @Model.WorkspaceView.Name</li>
    </ul>
</uui-box>
